In [ ]:
import pandas as pd
import numpy as np
df=pd.read_csv("/content/StudentMarkSheet.csv")

#total rows
x=len(df)


#removing empty rows
df.dropna(inplace = True)
print(df)

#non empty rows
y=len(df)

#no.of empty rows
z=x-y

print("\n")
# row information
print("rows before removing ",x)
print("rows containing null data",z)
print("rows after removing",y)

print("\n")
#record display
df=df[df['Student name'].str.contains('James Walker')]
print(df)

        Student name  Exam name   Exam date  Marks
0       James Walker    Biology  05/06/2016   31.0
1      Velma Clemons    Biology  05/06/2016   43.0
2     Kibo Underwood    Biology  05/06/2016   81.0
3        Louis Mcgee    Biology  05/06/2016   11.0
4       Phyllis Paul    Biology  05/06/2016   18.0
..               ...        ...         ...    ...
195       Yen Bowers  Sociology  21/06/2016   52.0
196        Ryan Pena  Sociology  21/06/2016   16.0
197  Portia Hamilton  Sociology  21/06/2016   34.0
198  Sydnee Chambers  Sociology  21/06/2016   76.0
199      Stacy Small  Sociology  21/06/2016   96.0

[196 rows x 4 columns]


rows before removing  200
rows containing null data 4
rows after removing 196


     Student name    Exam name   Exam date  Marks
0    James Walker      Biology  05/06/2016   31.0
42   James Walker    Chemistry  15/06/2016   61.0
71   James Walker  Mathematics  29/07/2016   23.0
150  James Walker      Physics  10/06/2016  100.0
180  James Walker    Sociology  21/06/2016   73.0